//- index.jade
extends ./layout.jade

block home-content

	div.jumbotron(style='margin-top:40px;')
		h1 Cognitive Head Hunter
		p.lead Helps a candidate to find the next job position using its own LinkedIn profile or custom text.
		//p.lead Cognitive Head Hunter is a cognitive application that uses Watson services to build an enhanced job openings knowledge based that will support candidates and HR professionals to find the best match between a candidate and a position.
		//h3 Choose one role and try it out:
		div.row
			div.col-lg-6.col-xs-12.text-center
				div.row
					img.img-circle.img-persona(src="/images/miguel.png")
				div.row
					a#btn-candidate.btn.btn-default.btn-lg.btn-block.wrap(href='/analyze',role="button") Candidate looking for new job
			div.col-lg-6.col-xs-12.text-center
				div.row
					img.img-circle.img-persona(src="/images/adrian.png")
				div.row
					a#btn-hrAnalyst.btn.btn-default.btn-lg.btn-block.wrap(href='/manage',role="button") HR Professional matching jobs and candidates



	script(type="text/javascript").
		$(document).ready(function () {
			$('#modal').hide();
			$('.top-nav').hide();
		});
